body {
    background-image: url("wakl.jpeg");
}
  
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 2vw;
    margin-left: 4vw;
    text-wrap: wrap;
}

.holder {
    display: grid;
    grid-template: 14vw 14vw 14vw 14vw 14vw / 14vw 14vw 14vw 14vw 14vw;
    margin-left: 12.5vw;
    gap: 30px;
    grid-auto-rows: 14vw;
    grid-auto-columns: 14vw;
    margin-bottom: 30px;
    margin-top: 30px;
}

.book {
    background-image: url("book.png");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    contain: strict;
    overflow-x: scroll;
    border-radius: 2px;
    border-color: darkgreen;
}

.remove, .statchange {
    margin-left: 4vw;
    border-radius: 5px;
}

.remove {
    background-color: darkred;
    border-color: darkred;
    color: white;
}

.statchange {
    background-color: green;
    color: white;
    border-color: green;
}