body {
    background-color: grey;
}

ul {
    list-style-type: none;
}
  
li {
    margin: 10px 0;
}

.holder {
    display: grid;
    grid-template: 14vw 14vw 14vw 14vw 14vw / 14vw 14vw 14vw 14vw 14vw;
    margin-left: 12.5vw;
    gap: 30px;
    grid-auto-rows: 14vw;
    grid-auto-columns: 14vw;
}

.book {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-wrap: pretty;
}